<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data: https://* https://github.com/*; font-src 'self' https://fonts.gstatic.com; connect-src 'self' https://*; media-src 'self' https://* https://github.com/*; object-src 'self' https://*; frame-src 'self' http://www.youtube.com https://www.youtube.com https://*; form-action 'self'; base-uri 'self'" />
  <meta http-equiv="X-XSS-Protection" content="1; mode=block" always>
  <meta http-equiv="Referrer-Policy" content="no-referrer-when-downgrade">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
  </body>
</html>
