---
layout: default
---

{{ content }} {% assign contentwonl = content | strip_newlines %} {% unless
contentwonl == "" %} <br />
{% endunless %}
<!-- add line break if there is any content -->
{%- if site.posts.size > 0 -%}
<ul>
  {%- for post in site.posts -%}
  <li>
    {%- assign date_format = "%Y-%m-%d" -%}
    <div class="post-item-homepage">
      <div class="post-meta">
        <span class="sub-data-post">[ {{ post.categories | join: ", " }} ]</span>
        <span class="sub-data-post">[ {{ post.date | date: date_format }} ]</span>
      </div>
      <a class="homepage-post" href="{{ post.url | relative_url }}"
        >{{ post.title | escape }}</a>
    </div>

    {%- if post.vid -%}
    <div class="hover-image">
      <video src="{{ post.vid | relative_url }}" autoplay muted loop></video>
    </div>
  {%- elsif post.img -%}
    <div class="hover-image">
      <img src="{{ post.img }}" />
    </div>
  {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
<script src="{{ '/assets/hover-post-img.js' | relative_url }}"></script>
<!-- Ensure correct script path -->
{%- endif -%}
